* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-color: #009688;
}
body {
  font-family: "Courier New", Courier, monospace;
}
.parent {
  position: relative;
  padding: 20px;
}
.overlay {
  position: absolute;
  background-color: #13426ed4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 15px 20px;
  text-transform: capitalize;
  background-color: #009688;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}
.final-score {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bold;
  display: none;
}
.final-score span {
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  color: var(--main-color);
}
@media (max-width: 767px) {
  .final-score {
    font-size: 14px;
  }
}
.container {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 767px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1170px) {
  .container {
    width: 1170px;
  }
}
.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 10px 20px;
  text-transform: capitalize;
  font-size: 20px;
  width: 60%;
  margin: 0 auto 20px auto;
}
.player span {
  font-weight: bold;
  color: var(--main-color);
  text-transform: uppercase;
}
.player .score-icon {
  cursor: pointer;
}
@media (max-width: 767px) {
  .player {
    width: 100%;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
  }
}
.game {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(6, auto);
  gap: 10px;
}
@media (max-width: 767px) {
  .game {
    margin-left: 0;
  }
}
.game .box {
  width: 100%;
  aspect-ratio: 1;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.game .rotate,
.game .matched {
  transform: rotateY(-180deg);
  pointer-events: none;
}
.game .box .face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border: 3px solid var(--main-color);
}
.game .box .back {
  background-color: #ffea00;
  text-align: center;
  transform: rotateY(180deg);
}
.game .box .back img,
.game .box .front img {
  width: 100%;
}
@media (max-width: 767px) {
  .game {
    width: 100%;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
  }
}
.block-game {
  pointer-events: none;
}
.failure-aud,
.success-aud {
  display: none;
}

/* Start Scores List */

.scores-list {
  width: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e3e3e3;
  padding: 10px;
  z-index: -1;
  opacity: 0;
  transition: top 0.5s;
}
@media (max-width: 767px) {
  .scores-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}
.show-score {
  top: 15%;
  z-index: 4;
  opacity: 1;
}
.scores-list table {
  border-spacing: 0;
  width: 100%;
}
.scores-list table thead {
  background-color: var(--main-color);
  color: white;
  padding: 10px;
  text-transform: capitalize;
}
.scores-list table thead th {
  text-align: start;
  padding: 10px 15px;
  font-size: 16px;
}
@media (max-width: 500px) {
  .scores-list table thead th {
    font-size: 12px;
  }
}
.scores-list table thead th:not(last-of-type) {
  border-right: 1px solid white;
}
.scores-list table tbody td {
  padding-left: 15px;
  border-bottom: 1px solid var(--main-color);
  border-left: 1px solid var(--main-color);
  text-transform: capitalize;
}
@media (max-width: 500px) {
  .scores-list table tbody td {
    font-size: 12px;
  }
}
.scores-list table tbody td:last-of-type {
  border-right: 1px solid var(--main-color);
}
.scores-list .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scores-list button {
  padding: 10px 20px;
  background-color: #e91e63;
  color: white;
  text-transform: capitalize;
  border: none;
  margin-top: 10px;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 500px) {
  .scores-list button {
    padding: 5px 10px;
    font-size: 12px;
  }
}
.scores-list .btn .close {
  color: black;
  background-color: #ffea00;
}
/* End Scores List */
